.App {
  text-align: center;
}
.navbar {
  display: flex;
justify-content: space-around;
  margin-top: 20px;
  padding: 10px;
  background:rgb(189, 14, 14);
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
}
.pop_up_container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 30%;
  height: 400px;
  margin: auto;
  right: 0;

  padding-top: 10%;
}

.pop_up_body {
  width: 70%;
  height: 90%;
  background-color: whitesmoke;
  margin: auto
}

.pop_up_header {
  width: 100%;
  text-align: right;
}
.outcard {
  padding: 25px;
  margin-left: 22%;
  width: 50%;
  box-shadow: 0 1px 2px 1px #ddd;
  border-radius: 3px;

}

.card {
  box-shadow: 0 1px 2px 1px #ddd;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  background-color: #eee;
}

.inputs {
  width: 93%;
  color: #444;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 10px;
}

.btns {
  background-color: #0050b1;
  color: #fff;
  width: 100%;
  padding: 10px 10px;
  border-radius: 3px;
  border: none;
}

.center {
  text-align: center;
}
.link{
  text-decoration: solid;
  color:#fff
}
.link:hover{
text-decoration: none;
color:#89abd4;
}
.flex-btn{
display:flex;
justify-content: space-around;
}
h1{
  color:#0050b1
}
